{% extends "account/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

<style>
{% block style %}
{{ block.super }}
{% include 'account/social_signup.css' %}
{% endblock %}
</style>

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="row text-center">
        <button class="btn btn-danger" type="submit">{% trans "Register" %}</button>
      </div>
    </form>
  </div>

  <div class="socialaccount_ballot col-md-offset-1 col-md-5 text-center">
    <h2 class="login-or">{% trans 'or' %} instantly login with: </h2>
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
</div>

{% endblock %}
