.panel-body{
      margin-left: 14px;
    }
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: black;
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: #FFFFFF;
    border-color: #FF1100;
    border-width: 3px;
}