{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}
  {% if not user.is_authenticated %}
    <div class="jumbotron"  style="margin-top:30px; background-color:transparent;">
      <div class="row">
       <div class="col-sm-8">
            <h1 style="font-family:inherit;">Welcome,  Bonjour,  Salute</h1>
            
            <h2 class="lead"><strong>PrimeApp </strong>- Gives you opportunities to choose and get informed easier and faster.
            <p>We <strong>make things</strong> that <strong>live</strong> on the <strong>web.</strong></p></h2>
            
            
            <h4>Dear user, please register below to continue.</h4>
        </div>
       <div class="col-sm-4" style="padding-top: 14px; padding-bottom: 14px; background-color: rgba(0,0,0,0.1);">   
          {% include "news/signup_form_base.html" %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row" style="background-color: rgba(0,0,0,0.2); padding-top:15px; padding-bottom:15px;">
    <div class="col-md-2">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Platforms</h3></div>
        <div class="panel-body">
          <div class="checkbox">
            {% for platform_abbreviation, platform_name in platform_name_choices %}
              <div class="row">
                <label>
                  <input class="platform-item" type="checkbox" value="{{ platform_abbreviation}}">
                  {{ platform_name }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="csresource-table" class="col-md-10">
      {% include "cslist/cslist.html" %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script>
    $(document).ready(function() {
      $(".platform-item").change(function() {
        var query_args = {}
        var platforms = [];
        $(".platform-item").each(function() {
          if ($(this).is(":checked")) {
            platforms.push($(this).val());
          }
        });

        if (platforms.length>0) {
          query_args.platform_filter = platforms.join()
        }

        $.ajax({
          method: "GET",
          url: "/csresource/csresource-table",
          data: query_args
        }).done(function(html) {
          $("#csresource-table").html(html);
        })
      })
    })
  </script>

{% endblock %}
